.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    border-radius: 5px;
   align-items: center;
   background-color: #f0f0f0;
   }

   .card {
       background-color: #fff;
       padding: 20px;
       border-radius: 10px;
       box-shadow:  0px 2px 10px rgba(0,0,0,0.1);
       max-width: 400px;
       width: 100%;
   }
   .label {

       flex-direction: column;
       margin-bottom: 5px;
       font-weight: bold;
       color: darkcyan;
      display: flex; /* Display labels as flex elements */
      align-items: flex-start;

   }

   .input {
       padding: 8px;
       border: 1px solid #ccc;
       border-radius: 5px;
       width: 100%;
       margin-bottom: 10px;
   }

   .heading {
       color: #333;
       text-align: center;
       margin-bottom: 20px;
   }

   .button {
       background-color: blue;
       color: #fff;
       border: none;
       padding: 10px 20px;
       cursor: pointer;
       margin-top: 10px;
       width: 100%;
   }